body  {
    background-color: rgb(222, 164, 192);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: rgb(0, 0, 0);
}

table, th, td {
    border-style: double;
    border: 5px solid rgb(rgb(24, 191, 200), rgb(245, 229, 6));
    border: collapse: collapse: 
}
th,td{
    background-color: cadetblue ;
}

th,td
{
    padding:5px;
}

